body
{
    background: linear-gradient( 90deg, rgba(240, 125, 240, 0), rgba(250,0,0,0.5));
};
.nav-bar{
    width:100%;
    height:80px;
    background-color: aqua;
}
h1{
    float: right;
}
#nav-list{
    list-style: none;
}
#nav-list{
    display: inlines;
}